
/* Login Button Class */
#button-login {
    -fx-background-color: #B6CC95;
    -fx-text-fill: #000000;
    -fx-font-size: 11pt;
    -fx-background-radius: 25px;
    -fx-border-width: 0px;
}

/* Login Button Class hover-effect */
#button-login:hover {
    -fx-background-color: #cee5ac;
}

#textfield-login {
    -fx-background-color: #9E9E9E;
    -fx-text-fill: black;
    -fx-border: none;
    -fx-font-size: 11pt;
    -fx-background-radius: 25px;
    -fx-alignment: center;
}

#textfield-konto {
    -fx-background-color: #ececec;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-border: none;
    -fx-font-size: 11pt;
    -fx-background-radius: 1px;
}

#textfield-konto:focused{
    -fx-border-color: #8ba662;
}

#label-konto {
    -fx-text-fill: black;
    -fx-border: none;
    -fx-font-size: 11pt;
    -fx-alignment: center;
}

#strong{
    -fx-font-family: bold;
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
}

