
/* Login Button Class */
#button-login {
    -fx-background-color: #B6CC95;
    -fx-text-fill: #000000;
    -fx-font-size: 11pt;
    -fx-background-radius: 25px;
    -fx-border-width: 0px;
}

/* Login Button Class hover-effect */
#button-login:hover {
    -fx-background-color: #cee5ac;
}

#textfield-login {
    -fx-background-color: #9E9E9E;
    -fx-text-fill: black;
    -fx-border: none;
    -fx-font-size: 11pt;
    -fx-background-radius: 25px;
    -fx-alignment: center;
}

#textfield-konto {
    -fx-background-color: #ececec;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-border: none;
    -fx-font-size: 11pt;
    -fx-background-radius: 1px;
}

#textfield-konto:focused{
    -fx-border-color: #8ba662;
}

#label-konto {
    -fx-text-fill: black;
    -fx-border: none;
    -fx-font-size: 11pt;
    -fx-alignment: center;
}

#bigstrong{
    -fx-font-family: bold;
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
}

#strong{
    -fx-font-family: bold;
    -fx-font-weight: bold;
    -fx-font-size: 14pt;

}

#text{
    -fx-font-size: 11pt;
    -fx-font-style: italic;
}
#vergangeneTage{
    -fx-font-size: 12pt;
}

/* Tab Pabe, tab header, tab background und tab */
#tabpane{
    -fx-background-color: transparent;
    -fx-font-size: 14pt;
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
}


/* Scroll Pane, Scroll bar und thumb */
.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}


.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #888888;
    -fx-background-radius: 5px;  /* runde Kanten */
}

.scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color: #999999;
}

.scroll-pane .scroll-bar .thumb:pressed {
    -fx-background-color: #acc094;
}